.grid-container {
  width: 50vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.7fr 1fr;
  grid-template-rows: 0.9fr 1.1fr 1fr 1fr;
  gap: 12px 15px;
  margin-bottom: 12px;
  grid-template-areas: "one one two three" "four five six six" "four seven eight eight" "nine nine ten ten";
};


.block-0 { grid-area: one; }

.block-1 { grid-area: two; }

.block-2 { grid-area: three; }

.block-3 { grid-area: four; }

.block-4 { grid-area: five; }

.block-5 { grid-area: six; }

.block-6 { grid-area: seven; }

.block-7 { grid-area: eight; }

.block-8 { grid-area: nine; }

.block-9 { grid-area: ten; }
